@{
}
<div id="docs-content">
    <markdown>
# Welcome to the DotLiquid docs

The following links will help you get started with using DotLiquid in your application:

* [Getting started](@Url.Action("gettingstarted"))
* [Formatting](@Url.Action("formatting"))
* [Drops](@Url.Action("drops"))
* [Filters](@Url.Action("filters"))
* [Extending](@Url.Action("extending"))

<br />

If you find any bugs in DotLiquid, or have a feature request, please log it as an issue in the [issues](http://github.com/dotliquid/dotliquid/issues) section of this project.

<br />

If you want to ask a question, use the  [Gitter](https://gitter.im/dotliquid/dotliquid) or the [DotLiquid Google Group](http://groups.google.com/group/dotliquid).
If your question is short, or you just want to follow that's happening, follow [DotLiquid on Twitter](http://twitter.com/dotliquid).
    </markdown>
</div>