<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="DotLiquid is a templating system ported to the .net framework from Ruby’s Liquid Markup" />
	<link href="/assets/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
	<!--[if !IE 7]>
	<style type="text/css">
	#wrap {
		display: table;
		height: 100%;
	}
	</style>
	<![endif]-->
	@RenderSection("StyleContent", false)

	<title>Welcome to DotLiquid, a safe templating system for .net</title>

	@if (!Request.IsLocal) {
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-5166698-3']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	}
</head>
<body>
	<div id="wrap">
		<div id="main" class="clearfix">
			<div id="header" class="clearfix">
				<div id="logo">
					<img src="/assets/img/logo_big.png" alt="DotLiquid Logo" title="DotLiquid Home" />
				</div>
				<ul id="header-menu">
					<li><a class="@(Html.IsCurrentAction("index", "home") ? "active" : "")" href="/">home</a></li>
					<li><a href="http://github.com/formosatek/dotliquid/downloads">download</a></li>
					<li><a href="http://github.com/formosatek/dotliquid/wiki/">learn</a></li>
				</ul>
				<div id="try">
					<a href="@Url.Action("Index", "TryOnline")">
						<img src="/assets/img/try_btn.png" alt="Try it online" title="Try it online" /></a>
				</div>
			</div>
			@RenderBody()
		</div>
	</div>
	<div id="footer">
		<div id="footer-content" class="clearfix">
			<div class="footer-col">
				<h5>Porting and Development</h5>
				<ul>
					<li><a href="http://timjones.tw">Tim Jones</a></li>
				</ul>
				<h5>Contributors</h5>
				<ul>
					<li><a href="http://www.alessandropetrelli.com">Alessandro Petrelli</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h5>Documentation</h5>
				<ul>
					<li><a href="http://github.com/formosatek/dotliquid/wiki/DotLiquid-for-Developers">For Developers</a></li>
					<li><a href="http://github.com/formosatek/dotliquid/wiki/DotLiquid-for-Designers">For Designers</a></li>
				</ul>

				<h5>Support</h5>
				<ul>
					<li><a href="http://groups.google.com/group/dotliquid">Google Group</a></li>
					<li><a href="http://twitter.com/dotliquid">Twitter</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h5>License</h5>
				<ul>
					<li><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></li>
					<li><a href="http://www.microsoft.com/opensource/licenses.mspx#Ms-PL">Microsoft Public License<br />(Ms-PL)</a></li>
				</ul>
			</div>
			<div class="footer-col last">
				<h5>Sponsors</h5>
				<p>Our thanks to <a href="http://www.jetbrains.com">JetBrains</a> for donating licenses for <a href="http://www.jetbrains.com/resharper/">ReSharper</a>,
				<a href="http://www.jetbrains.com/profiler/">dotTrace</a> and <a href="http://www.jetbrains.com/dotcover/">dotCover</a>.</p>
				<p>Thanks also to <a href="http://appharbor.com">AppHarbor</a> for providing free hosting for this website.</p>
			</div>
		</div>
		<div id="copyright">
			Copyright ©2010-2012 <a href="http://formosatek.com">Formosatek</a> and contributors - All rights reserved. 
			Site design by <a href="http://www.alessandropetrelli.com">Alessandro Petrelli</a>.
			Hosted free by <a href="http://appharbor.com">AppHarbor</a>.
		</div>
	</div>
	
	@RenderSection("ScriptContent", false)
</body>
</html>

